@page
@using BasiaProjektRazorPages.DbModels
@using BasiaProjektRazorPages.ViewModels
@model BasiaProjektRazorPages.Pages.Order.SummaryModel
@{
}
    <div class="center accounts-container bg-white">
        <a class="btn btn-secondary" asp-page="/Product/List">Powrót na listę</a>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="order.ID_Zamowienia" />
            <input type="hidden" asp-for="order" />

        @foreach(CartRecord cr in @Model.order.cart)
        {
            <div class="product mb-3" id="@cr.product.ID_Produktu">
                <h6>@Html.DisplayFor(model => cr.product.Nazwa)</h6> x @cr.amount
                <br>
            </div>
        }

        <div class="mb-3">
            <label class="form-label" >Adres</label>
            <select asp-for="order.ID_Adresu" asp-items="Model.addresses"></select>
        </div>

            @if (!string.IsNullOrWhiteSpace(Model.alertMessage))
            {
                <div class="alert @Model.alertClass">
                   @Html.Raw(@Model.alertMessage.Replace("\n", "</br>"))
                    
               </div>
            }
            <button type="submit" class="btn btn-primary" name="nigger">
                Zmień address
            </button>
            <button type="submit" class="btn btn-success">Zapisz</button>
        </form>
    </div>