@page
@using SklepProjektRazorPages.Helpers;
@model SklepProjektRazorPages.Pages.AdminPanel.Account.EditModel
@{
    ViewData["Title"] = $"Admin Panel - {@Model.account.ID_Konta}";
}
@if (Model.accountNotFound)
{
    <div class="text-center">
        <h3>Nimo takiego konta.</h3>
    </div>
}else if (!AccountHelper.loggedInVerified || !AccountHelper.loggedInAccount.JestAdminem)
{
    <div class="text-center">
        <h3>Nie mosz uprawnień do tej strony.</h3>
    </div>
}
else
{
    <div class="container text-center accounts-container bg-white" style="height:max(35rem)">
        <a class="btn btn-secondary" asp-page="List">Powrót do listy</a>
        <form method="post">
            <div class="nav nav-tabs border-container" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-account-tab" data-bs-toggle="tab" data-bs-target="#nav-account" type="button" role="tab" aria-controls="nav-account" aria-selected="true">Konto</button>
                <button class="nav-link" id="nav-client-tab"  data-bs-toggle="tab" data-bs-target="#nav-client" type="button" role="tab" aria-controls="nav-client" aria-selected="false">Klient</button>
                <button class="nav-link" id="nav-supplier-tab"  data-bs-toggle="tab" data-bs-target="#nav-supplier" type="button" role="tab" aria-controls="nav-supplier" aria-selected="false">Dostawca</button>
            </div>
            <div class="tab-content" id="myTabContent">
            
                <div class="tab-pane bg-white fade show active" id="nav-account" role="tabpanel" aria-labelledby="nav-account-tab" style="color:black">
                    @*Konto*@
                    <input type="hidden" value="@Model.account.ID_Konta" asp-for="account.ID_Konta" />
                    <input type="hidden" value="@Model.account.ID_Dostawcy" asp-for="account.ID_Dostawcy" />
                    <input type="hidden" value="@Model.account.ID_Klienta" asp-for="account.ID_Klienta" />
                    <div class="mb-3">
                        <label class="form-label">@Html.DisplayNameFor(model => model.account.LoginUzytkownika)</label>
                        <input class="form-control" style="border:1.5px solid black" value="@Model.account.LoginUzytkownika" asp-for="account.LoginUzytkownika" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">@Html.DisplayNameFor(model => model.account.Email)</label>
                        <input class="form-control" style="border:1.5px solid black" value="@Model.account.Email" asp-for="account.Email" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nowe hasło</label>
                        <input class="form-control" style="border:1.5px solid black" value="" asp-for="account.HashHasla" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">@Html.DisplayNameFor(model => model.account.JestAdminem)</label>
                        <input class="form-check-input" value="true" asp-for="account.JestAdminem" />
                    </div>
                    <button class="btn btn-success">Zapisz Dane Konta</button>

                </div>

                <div class="tab-pane fade" name="Client" id="nav-client" role="tabpanel" aria-labelledby="nav-client-tab">
                    @*Klient*@
                    @if (Model.client == null || Model.client.ID_Klienta == null)
                    {
                        <button type="submit" name="createClient" class="btn btn-success" value="true">Utwórz klienta</button>
                    }
                    else
                    {
                        <input type="hidden" value="@Model.client.ID_Klienta" asp-for="client.ID_Klienta" />
                        <div class="mb-3">
                            <label class="form-label">@Html.DisplayNameFor(model => model.client.Imie)</label>
                            <input class="form-control" style="border:1.5px solid black" value="@Model.client.Imie" asp-for="client.Imie" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">@Html.DisplayNameFor(model => model.client.Nazwisko)</label>
                            <input class="form-control" style="border:1.5px solid black" value="@Model.client.Nazwisko" asp-for="client.Nazwisko" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">@Html.DisplayNameFor(model => model.client.Telefon)</label>
                            <input class="form-control" style="border:1.5px solid black" value="@Model.client.Telefon" asp-for="client.Telefon" />
                        </div>
                        @if (!string.IsNullOrWhiteSpace(Model.clientAlertValue))
                        {
                            <div class="alert @Model.clientAlertClass" role="alert">
                                @Model.clientAlertValue
                            </div>
                        }


                        <button class="btn btn-success">Zapisz Dane Konta</button>
                    }
                </div>

                <div class="tab-pane fade" name="Supplier" id="nav-supplier" role="tabpanel" aria-labelledby="nav-supplier-tab">
                    @*Dostawca*@
                    @if (Model.supplier == null || Model.supplier.ID_Dostawcy == null)
                    {
                        <button type="submit" name="createSupplier" class="btn btn-success" value="true">Utwórz dostawce</button>
                    }
                    else
                    {
                        <input type="hidden" value="@Model.supplier.ID_Dostawcy" asp-for="supplier.ID_Dostawcy" />
                        <div class="mb-3">
                            <label class="form-label">@Html.DisplayNameFor(model => model.supplier.Nazwa)</label>
                            <input class="form-control" style="border:1.5px solid black" value="@Model.supplier.Nazwa" asp-for="supplier.Nazwa" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">@Html.DisplayNameFor(model => model.supplier.Numer_telefonu)</label>
                            <input class="form-control" style="border:1.5px solid black" value="@Model.supplier.Numer_telefonu" asp-for="supplier.Numer_telefonu" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">@Html.DisplayNameFor(model => model.supplier.Email)</label>
                            <input class="form-control" style="border:1.5px solid black" value="@Model.supplier.Email" asp-for="supplier.Email" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">@Html.DisplayNameFor(model => model.supplier.NIP)</label>
                            <input class="form-control" style="border:1.5px solid black" value="@Model.supplier.NIP" asp-for="supplier.NIP" />
                        </div>
                        @if (!string.IsNullOrWhiteSpace(Model.supplierAlertValue))
                        {
                            <div class="alert @Model.supplierAlertClass" role="alert">
                                @Model.supplierAlertValue
                            </div>
                        }

                        <button class="btn btn-success">Zapisz Dane Dostawcy</button>
                    }
                </div>
            
            </div>
        </form>
    </div>
}