@page
@using SklepProjektRazorPages.DbModels
@using SklepProjektRazorPages.ViewModels
@model SklepProjektRazorPages.Pages.AdminPanel.Delivery.ListModel
@{
    ViewData["Title"] = $"Admin Panel - Lista Dostaw";
}
@if (!AccountHelper.loggedInVerified || !AccountHelper.loggedInAccount.JestAdminem )
{
    <div class="text-center">
        <h3>Nie mosz uprawnień do tej strony.</h3>
    </div>
}
else
{
    <div class="container admin-panel-settings bg-white text-ce" style="width:min(36rem)">
        <div>
            <h3 style="border-bottom:1px solid black;text-align:center;">Admin Panel: @AccountHelper.loggedInAccount.LoginUzytkownika</h3>
            <div class="admin-button-container">
                <a class="button-animation" style="padding:0.5rem 1.5rem" asp-page="/AdminPanel/Index">
                    Strona główna
                    <div class="btn_horizontal"></div>
                    <div class="btn_vertical"></div>
                </a>
            </div>
        </div>
    </div>
    <br />
    <div class="container admin-accounts-container text-center" style="width: min(75rem) !important;background-color:white;color:black;">
        <a asp-page="Add" class="btn btn-primary">Dodaj dostawe</a>
        <table id="accounts-table">
            <thead>
                <tr>
                    <th>
                        @{
                            string displayName = null;
                            //displayName = @Html.DisplayNameFor(model => model.delivery.FirstOrDefault().Supplier.Nazwa);
                            displayName = "Dostawca";
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th>
                        @{
                            displayName = @Html.DisplayNameFor(model => model.delivery.FirstOrDefault().Data_zamowienia);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th>
                        @{
                            displayName = @Html.DisplayNameFor(model => model.delivery.FirstOrDefault().Data_zrealizowania);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th style="width:min(9rem)">
                        Opcje
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (DeliveryViewModel delivery in Model.delivery)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => delivery.Supplier.Nazwa)
                        </td>
                        <td>
                            @Html.DisplayFor(model => delivery.Data_zamowienia)
                        </td>
                        <td>
                            @Html.DisplayFor(model => delivery.Data_zrealizowania, "DateTime")
                        </td>
                        <td>
                            <div id="options">
                                <a class="btn btn-primary" asp-page="/AdminPanel/Delivery/View" asp-route-id="@delivery.ID_Dostawy">
                                    <i class="far fa-eye"></i>
                                </a>
                                <a class="btn btn-warning" asp-page="/AdminPanel/Delivery/Edit" asp-route-id="@delivery.ID_Dostawy">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a class="btn btn-danger" asp-page="/AdminPanel/Delivery/Delete" asp-route-id="@delivery.ID_Dostawy">
                                   <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <script>
        document.addEventListener('DOMContentLoaded', e => {
            GenerateDataTable($("#accounts-table"));
        });
    </script>
}