@page
@using SklepProjektRazorPages.Helpers
@using System.Data
@using SklepProjektRazorPages.DbModels
@using Dapper
@model IndexModel
@{

    ViewData["Title"] = "Home page";
    HttpContext.Session.SetString("testString1", "Centurion mk. XII");
    IDbConnection conn = DbHelper.GetDbConnection();
    conn.Dispose();
}

<div class="container bg-white border-container">
    <h3 style="text-align:center;">Polecane dla Ciebie</h3>
    <div id="cards-container" class="cards-container snaps-inline">
        @{
            foreach(Produkt p in @Model.ProductList)
            {
                <div class="card">
                    <a style="text-decoration:none;color: inherit !important;" asp-page="/Product/View" asp-route-id="@p.ID_Produktu">
                    <div class="card-image">
                        <img src="@p.sciezkaZdjecia"/>
                    </div>
                    <div class="card-price">@p.Cena_jednostkowa zł</div>
                    <div class="card-shopping">
                        <div class="card-item-name">@p.Nazwa</div>
                    </div>
                    </a>
                    <div style="display:flex;justify-content:flex-end">
                        <button product-id="@p.ID_Produktu" class="product-cart fa-solid fa-cart-shopping"></button>
                    </div>
                    
                </div>
            }
        }

        
    </div>
</div>
@{
    //ajax
    string pre = "http" + new string(HttpContext.Request.IsHttps ? "s" : "");
    pre = pre + "://";
    string cartApiUrl = pre + HttpContext.Request.Host + @Url.Page("/Cart/api");
}
<script>
    document.addEventListener('DOMContentLoaded', e => {
        $(document).on('click', '[product-id]', e => {
            console.log(e.currentTarget);
            let $btn = $(e.currentTarget);
            let productId = $btn.attr('product-id');
            $.ajax({
                url: '@cartApiUrl' + "?handler=AddProductToCart",
                method: 'POST',
                //contentType: 'application/json',
                dataType: 'json',
                data: {
                    productId: productId
                },
            }).done(function(data, status, xhr) {
                updateCart();
            })
        });
    });
</script>

