<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SklepProjektRazorPages.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
</head>
<body class="preload">
    <div id="navbar" class="container navbar-container bg-white">
        @*Hamburger for future category selection*@
        <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="/Images/logo.png" style="width:4rem;"></a>
        
        <div class="container-searching-bar">
            <div style="position: absolute;padding-top: 7px;transform: scale(1.5) translateX(-40px); text-decoration:none;color:black" class="fa-solid fa-bars"></div>
            <form method="get" style="margin-top:5px">
                <button type="submit" class="fa-solid fa-magnifying-glass search-glass" asp-area="" asp-page="/Product/List" style="border:none !important;background-color:white"></button>
                <input id="searching-bar" type="text" name="searching_bar" class="searching-bar d-inline-block" list="datalistOptions" placeholder="Wyszukaj produkt...">
                <button class="fa-solid fa-x clear-button" type="button" onclick="document.getElementById('searching-bar').value = ''"></button>
            </form>
            
            
        </div> 
        <div class="account-panel" style="margin-right:1.5rem;display:flex;flex-direction:row;transform:scale(1.5);gap:1rem;">
            @*Koszyk bez logowania - opacity 0*@
            @{
                string opacity = "0";
                string route_id = 0.ToString();
                string pointer_events= "none";
                if (AccountHelper.loggedInVerified)
                {
                    opacity = "1";
                    pointer_events = "all";
                    route_id = AccountHelper.loggedInAccount.ID_Konta.ToString();
                }
            }
            @{
                string loggedpath = "/Account/Login";
                if (AccountHelper.loggedInVerified)
                {
                    loggedpath = "/Account/AccountIndex";

                }
            }
            @*Unlogged - /login, Logged - /AccountInformation + Drop menu*@
            @if (AccountHelper.loggedInVerified)
            {
                <div id="cart-dropdown" class="dropdown" style="margin-left:0.5rem">
                    <a class="fa-solid fa-cart-shopping shop-cart" id="shop-cart" asp-page="/Order/Summary" ></a>
                    <div class="cart-dropdown-content">
                        <div aria-labelledby="dropdownMenuButton1">
                            <table id="cart-products"></table>
                            <div id="summary-container">
                                <a id="summary-button" class="dropdown-Item" style="text-decoration:none;animation:none !important" asp-page="/Order/Summary"></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (AccountHelper.loggedInVerified)
            {
                <div id="cart-dropdown" class="dropdown">
                <a class="fa-solid fa-user drop-a" id="account-img" asp-page="@loggedpath"  asp-route-id="@route_id"></a>
                    <div class="dropdown-content">
                        <a class="dropdown-Item"  style="text-decoration:none;" asp-page="/Account/AccountIndex" asp-route-id="@route_id">Konto</a>
                        <a class="dropdown-Item" style="text-decoration:none;" asp-page="/Account/AccountIndex" asp-route-id="@route_id" asp-route-tabId="nav_orders_tab">Zamówienia</a>
                        <a class="dropdown-Item Logoutitem" style="text-decoration:none;" asp-page="/Account/Logout">Wyloguj</a>
                    </div>
                </div>
            }
            else
            {
                <div id="cart-dropdown" class="dropdown">
                <a class="fa-solid fa-user drop-a" id="account-img" asp-page="@loggedpath" ></a>
                    <div class="dropdown-content">
                        <a class="dropdown-Item"  style="text-decoration:none;" asp-page="/Account/Login">Zaloguj</a>
                        <a class="dropdown-Item" style="text-decoration:none;" asp-page="/Account/Register" >Zarejestruj</a>
                    </div>
                </div>
            }
            
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            @RenderSection("jsSyntaxHighlighting", required: false)
        </main>
    </div>

    <footer class="footer text-muted" style="line-height:45px">
        <div class="container d-inline-block footer-container">
            @*On click znaku małpa wchodzi do admin panelu*@
            <a asp-page="/AdminPanel/Index" class="text-muted" style="text-decoration:none !important;cursor:default">&copy;</a><p style="display:inline">2023 - Kacper Oleksiak, Wiktor Poprawski - </p><a asp-area="" asp-page="/Privacy">Privacy</a>
            <div class="brands-container">
                <a class="fa-brands fa-youtube" href="../www.youtube.com"></a>
                <a class="fa-brands fa-facebook" href="../www.facebook.com"></a>
                <a class="fa-brands fa-instagram" href="../www.instagram.com"></a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/datatables.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        let $paragraph = document.getElementById('summary-button');
        let $tab_products = document.getElementById('cart-products');
        console.log($tab_products)
        let mutObs = new MutationObserver((mutation) =>{
            changeText();
        });
        let mutObsOptions = {
            childList: true
        }
        mutObs.observe($tab_products,mutObsOptions);
        function changeText(){
            let $summaryContainer = document.getElementById("summary-container");
            if ($tab_products.hasChildNodes()){
                $paragraph.innerText = "Finalizuj zamówienie";
                $paragraph.style.pointerEvents = "all";
                $paragraph.style.color = "#0d6efd";
                $summaryContainer.style.borderTop = "0.1rem solid black";
            }  
            else {
                $paragraph.innerText = "Brak produktów";
                $paragraph.style.pointerEvents = "none";
                $paragraph.style.color = "black";
                $summaryContainer.style.borderTop = "none";
            }
        }
        changeText();



    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>