@page
@using SklepProjektRazorPages.DbModels;
@model SklepProjektRazorPages.Pages.AdminPanel.Warehouse.EditModel
@{
    ViewData["Title"] = $"Admin Panel - Edit - {@Model.warehouse.Nazwa}";
}
@if (Model.warehouseNotFound)
{
    <div class="text-center">
        <h3>Nimo takiego Magazynu.</h3>
    </div>
}
else if (!AccountHelper.loggedInVerified || !AccountHelper.loggedInAccount.JestAdminem)
{
    <div class="text-center">
        <h3>Nie mosz uprawnień do tej strony.</h3>
    </div>
}
else
{
    <div class="center accounts-container bg-white">
        <a class="btn btn-secondary" asp-page="List">Powrót do listy</a>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="warehouse.ID_Magazynu" />

            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.warehouse.Nazwa)</label>
                <input type="text" asp-for="warehouse.Nazwa" />
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.warehouse.Kraj)</label>
                <input type="text" asp-for="warehouse.Kraj" />
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.warehouse.Miasto)</label>
                <input type="text" asp-for="warehouse.Miasto" />
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.warehouse.Kod_pocztowy)</label>
                <input type="text" asp-for="warehouse.Kod_pocztowy" />
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.warehouse.Ulica)</label>
                <input type="text" asp-for="warehouse.Ulica" />
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.warehouse.Numer_budynku)</label>
                <input type="text" asp-for="warehouse.Numer_budynku" />
            </div>
            <button class="btn btn-success">Zapisz Dane Magazynu</button>
            @if (!string.IsNullOrWhiteSpace(Model.alertValue))
            {
                <div class="alert @Model.alertClass" role="alert">
                    @Model.alertValue
                </div>
            }
        </form>
    </div>
}