@page
@using SklepProjektRazorPages.DbModels
@model SklepProjektRazorPages.Pages.AdminPanel.Warehouse.ListModel
@{
    ViewData["Title"] = $"Admin Panel - Lista Magazynów";
}
@if (!AccountHelper.loggedInVerified || !AccountHelper.loggedInAccount.JestAdminem)
{
        <div class="text-center">
            <h3>Nie mosz uprawnień do tej strony.</h3>
        </div>
}
else
{
<partial name="_AdminPanelNavigationPartial" />
        <br />
    <div class="container admin-accounts-container text-center" style=";background-color:white;color:black;">
        <a class="btn btn-primary" style="margin:0.4rem 0" asp-page="Add">Dodaj Magazyn</a>
        <table id="accounts-table">
            <thead>
                <tr>
                    <th>
                        @{
                            string displayName = null;
                            displayName = @Html.DisplayNameFor(model => model.warehouse.FirstOrDefault().ID_Magazynu);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th>
                        @{
                            displayName = @Html.DisplayNameFor(model => model.warehouse.FirstOrDefault().Nazwa);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th>
                        @{
                            displayName = @Html.DisplayNameFor(model => model.warehouse.FirstOrDefault().Kraj);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th>
                        @{
                            displayName = @Html.DisplayNameFor(model => model.warehouse.FirstOrDefault().Miasto);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th>
                        @{
                            displayName = @Html.DisplayNameFor(model => model.warehouse.FirstOrDefault().Kod_pocztowy);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th>
                        @{
                            displayName = @Html.DisplayNameFor(model => model.warehouse.FirstOrDefault().Ulica);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th>
                        @{
                            displayName = @Html.DisplayNameFor(model => model.warehouse.FirstOrDefault().Numer_budynku);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th>
                        @{
                            displayName = @Html.DisplayNameFor(model => model.warehouse.FirstOrDefault().Usunieta);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th style="width:min(9rem)">
                        Opcje
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Magazyn war in Model.warehouse)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => war.ID_Magazynu)
                        </td>
                        <td>
                            @Html.DisplayFor(model => war.Nazwa)
                        </td>
                        <td>
                            @Html.DisplayFor(model => war.Kraj)
                        </td>
                        <td>
                            @Html.DisplayFor(model => war.Miasto)
                        </td>
                        <td>
                            @Html.DisplayFor(model => war.Kod_pocztowy)
                        </td>
                        <td>
                            @Html.DisplayFor(model => war.Ulica)
                        </td>
                        <td>
                            @Html.DisplayFor(model => war.Numer_budynku)
                        </td>
                        <td>
                            @Html.DisplayFor(model => war.Usunieta)
                        </td>
                        <td>
                            <div id="options">
                                <a class="btn btn-primary" asp-page="/AdminPanel/Warehouse/View" asp-route-id="@war.ID_Magazynu">
                                    <i class="far fa-eye"></i>
                                </a>
                                <a class="btn btn-warning" asp-page="/AdminPanel/Warehouse/Edit" asp-route-id="@war.ID_Magazynu">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a class="btn btn-danger" asp-page="/AdminPanel/Warehouse/Delete" asp-route-id="@war.ID_Magazynu" asp-route-redirect="List">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <script>
        document.addEventListener('DOMContentLoaded', e => {
            GenerateDataTable($("#accounts-table"));
        });
    </script>
}