@page
@model SklepProjektRazorPages.Pages.Product.ViewModel
@{
    ViewData["Title"] = Model.product.Nazwa;
    //ajax
    string pre = "http" + new string(HttpContext.Request.IsHttps ? "s" : "");
    pre = pre + "://";
    string cartApiUrl = pre + HttpContext.Request.Host + @Url.Page("/Cart/api");
}

@if(Model.product == null){
    <div class="alert @Model.alertClass">
        @if (string.IsNullOrWhiteSpace(Model.alertMessage))
        {
            @Html.Raw("Nie znaleziono se produkta z takim id")
        }
        else
        {
            @Model.alertMessage
        }
    </div>
}
else{
    <div style="width:min(60rem,75rem);margin:auto" class="datatable-container border-container bg-white">

        <form class="datatable-container" method="get" style="padding-right:1rem">
            <input type="hidden" asp-for="product.ID_Produktu" />
            <div  class="view-container">
                <h2 style="border-bottom: 1px solid grey">@Model.product.Nazwa</h2>
                <img style="margin:auto;width:max(15rem);height:max(15rem);object-fit:contain;" src="@Url.Content(Model.product.sciezkaZdjecia)" />
            </div>
            <div style="width:min(25rem)" class="view-container view-specification">
                @*Statycznie ustawiona specyfikacaj*@
                <h3 style="border-bottom: 1px solid grey">Specyfikacja</h3>
                <p>Gniazdo procesora: Socket AM5</p>
                <p>Taktowanie:4.5 GHz</p>
                <p>Liczba rdzeni:16 rdzeni</p>
                <p>Pamięć cache:80 MB</p>
            </div>
            <div class="view-container view-price">
                <p>@Model.product.Cena_jednostkowa zł</p>
                @*Dodac funkcjonalnosc wybrania ilosci produktu do koszyka*@
                <div style="display:flex;flex-direction:row;gap:1rem;">
                    <select id="select-value" style="border-radius:10px;padding:.3rem">
                    @{
                        for(int i = 1; i<= 9; i++)
                        {
                            <option class="select-value" value="@i">@i</option>
                        }
                    }
                    </select>
                    <button id="submit-button" type="button" style="position:initial;transform:none;transition:none;color:white" product-id="@Model.product.ID_Produktu" class="product-cart fa-solid fa-cart-shopping"><p>Dodaj do koszyka</p></button>
                </div>
                
            </div>
        </form>
    </div>

}
<script>
    document.addEventListener('DOMContentLoaded', e => {
        $(document).on('click', '[product-id]', e => {
            console.log(e.currentTarget);
            let $btn = $(e.currentTarget);
            let productId = $btn.attr('product-id');
            let $select_value = document.getElementById("select-value").value;
            $.ajax({
                url: '@cartApiUrl' + "?handler=AddProductToCart",
                method: 'POST',
                //contentType: 'application/json',
                dataType: 'json',
                data: {
                    "productId": productId,
                    "productsAmount": $select_value,
                },
                success: function (result) {
                    if (result.success) {
                        updateCart();
                    }
                    else {
                        alert('Error: +' + result.message);
                    }
                }
            }).done(function (data, status, xhr) {
                console.log(data.products);
                //data.products.amount = $select_value;
                
            })
        });
    });
    //View page change number of product handler
    //let $select_value = document.querySelectorAll(".select-values");
    //for (let i = 0; $select_value.length; i++) {
    //    $select_value[i].addEventListener("change", (event) => {
    //        let $productId = $(event.currentTarget).attr("product-id");
    //        let $productsAmount = event.currentTarget.value;
    //        let $submit_button = document.getElementById("submit-button");
    //        $.ajax({
    //            url: '/Cart/api' + "?handler=AddProductToCart",
    //            type: "POST",
    //            data: {
    //                "productId": $productId,
    //                "productsAmount": $productsAmount
    //            },
    //            success: function (result) {
    //                if (result.success) {
    //                    data.products[i].amount = $productsAmount;
    //                }
    //                else {
    //                    alert('Error: +' + result.message);
    //                }
    //            }
    //        }).done(function (data, status, xhr) {
    //            let $cartList = $("#cart-products");
    //            //console.log("pod tym");
    //            //console.log(`${data.products[i].amount} ${data.products[i].product.nazwa}`);
    //            //console.log(data.products[i]);
    //        });
    //    })
    //}
</script>