@page
@model SklepProjektRazorPages.Pages.Product.ViewModel
@{
    ViewData["Title"] = Model.product.Nazwa;
    //ajax
    string pre = "http" + new string(HttpContext.Request.IsHttps ? "s" : "");
    pre = pre + "://";
    string cartApiUrl = pre + HttpContext.Request.Host + @Url.Page("/Cart/api");
}

@if(Model.product == null){
    <div class="alert @Model.alertClass">
        @if (string.IsNullOrWhiteSpace(Model.alertMessage))
        {
            @Html.Raw("Nie znaleziono se produkta z takim id")
        }
        else
        {
            @Model.alertMessage
        }
    </div>
}
else{
    <div style="width:max-content;margin:auto" class="datatable-container border-container bg-white">

        <form class="datatable-container" method="get" style="padding-right:1rem">
            <input type="hidden" asp-for="product.ID_Produktu" />
            <div  class="view-container">
                <h2 style="border-bottom: 1px solid grey;width: max-content;">@Model.product.Nazwa</h2>
                <img style="margin:auto;width:max(15rem);height:max(15rem);object-fit:contain;" src="@Url.Content(Model.product.sciezkaZdjecia)" />
            </div>
            <div style="width:max-content" class="view-container view-specification">
                @*Statycznie ustawiona specyfikacaj*@
                <h3 style="border-bottom: 1px solid grey">Specyfikacja</h3>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
            </div>
            <div class="view-container view-price">
                <p>@Model.product.Cena_jednostkowa zł</p>
                <div style="display:flex;flex-direction:row;gap:1rem;">
                    <select id="select-value" style="border-radius:10px;padding:.3rem">
                    @{
                        for(int i = 1; i<= 9; i++)
                        {
                            <option class="select-value" value="@i">@i</option>
                        }
                    }
                    </select>
                    <button id="submit-button" type="button" islogged="@AccountHelper.loggedInAccount" style="position:initial;transform:none;transition:none;color:white" product-id="@Model.product.ID_Produktu" class="product-cart fa-solid fa-cart-shopping"><p>Dodaj do koszyka</p></button>
                </div>
                
            </div>
        </form>
    </div>

}
<script>
    document.addEventListener('DOMContentLoaded', e => {
        $(document).on('click', '[product-id]', e => {
            let $btn = $(e.currentTarget);
            let productId = $btn.attr('product-id');
            let $select_value = document.getElementById("select-value").value;
            let sessionToken = $btn.attr('islogged');
            CheckifLogged(sessionToken);  
            $.ajax({
                url: '@cartApiUrl' + "?handler=AddProductToCart",
                method: 'POST',
                //contentType: 'application/json',
                dataType: 'json',
                data: {
                    "productId": productId,
                    "productsAmount": $select_value,
                },
                success: function () {
                    updateCart();
                }
            }).done(function (data, status, xhr) {
                if (data.message == "Error") {
                    showToast('Błąd', 'Nie można dodać więcej niż 9 produtków danego rodzaju!', 'danger');
                }
                else {
                    AddCartAnimation();
                }
            })
        });
    });
</script>