@page
@model SklepProjektRazorPages.Pages.AdminPanel.Employee.AddModel
@using SklepProjektRazorPages.DbModels;
@{
    ViewData["Title"] = $"Admin Panel - Dodanie Pracownika";
}
@if (!AccountHelper.loggedInVerified || !AccountHelper.loggedInAccount.JestAdminem)
{
    <div class="text-center">
        <h3>Nie mosz uprawnień do tej strony.</h3>
    </div>
}
else
{
    <div class="container accounts-container text-center bg-white">
        <a class="btn btn-secondary" asp-page="List">Powrót do listy</a>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" value="@Model.id" asp-for="@Model.employee.ID_Pracownika" />

            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.employee.Imie)</label>
                <input type="text"  asp-for="employee.Imie" />
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.employee.Nazwisko)</label>
                <input type="text" asp-for="employee.Nazwisko" />
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.employee.ID_Magazynu)</label>
                <select type="text" asp-items="Model.warehouses"  asp-for="employee.ID_Magazynu" ></select>
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.employee.Wyplata)</label>
                <input type="text"  asp-for="employee.Wyplata" />
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.employee.Numer_telefonu)</label>
                <input type="text"  asp-for="employee.Numer_telefonu" />
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.employee.PESEL)</label>
                <input type="text" asp-for="employee.PESEL" />
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.employee.Numer_konta)</label>
                <input type="text"  asp-for="employee.Numer_konta" />
            </div>
            <button type="submit" class="btn btn-success">Dodaj pracownika</button>
            @if (!string.IsNullOrWhiteSpace(Model.accountAlertValue))
            {
                <div class="alert @Model.accountAlertClass" role="alert">
                    @Model.accountAlertValue
                </div>
            }
        </form>
    </div>
}