@page
@using SklepProjektRazorPages.DbModels
@model SklepProjektRazorPages.Pages.AdminPanel.Employee.ListModel
@{
    ViewData["Title"] = $"Admin Panel - Lista Pracowników";
}
@if (!AccountHelper.loggedInVerified || !AccountHelper.loggedInAccount.JestAdminem)
{
        <div class="text-center">
            <h3>Nie mosz uprawnień do tej strony.</h3>
        </div>
}
else
{
    <div class="container admin-panel-settings bg-white text-ce" style="width:min(36rem)">
        <div>
            <h3 style="border-bottom:1px solid black;text-align:center;">Admin Panel: @AccountHelper.loggedInAccount.LoginUzytkownika</h3>
            <div class="admin-button-container">
                <a class="button-animation" style="padding:0.5rem 1.5rem" asp-page="/AdminPanel/Index">
                    Strona główna
                    <div class="btn_horizontal"></div>
                    <div class="btn_vertical"></div>
                </a>
            </div>
        </div>
    </div>
    <br />
    <div class="container admin-accounts-container text-center" style="width:min(80rem) !important;background-color:white;color:black;">
        <a class="btn btn-primary" style="margin:0.4rem 0" asp-page="Add">Dodaj Pracownika</a>
        <table id="accounts-table">
            <thead>
                <tr>
                    <th>
                        @{
                            string displayValue = null;
                            string displayName = null;
                            displayName = @Html.DisplayNameFor(model => model.employee.FirstOrDefault().ID_Pracownika);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th>
                        @{
                            displayName = @Html.DisplayNameFor(model => model.employee.FirstOrDefault().Imie);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th>
                        @{
                            displayName = @Html.DisplayNameFor(model => model.employee.FirstOrDefault().Nazwisko);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th>
                        @{
                            displayName = @Html.DisplayNameFor(model => model.employee.FirstOrDefault().ID_Magazynu);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th>
                        @{
                            displayName = @Html.DisplayNameFor(model => model.employee.FirstOrDefault().Numer_telefonu);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th>
                        @{
                            displayName = @Html.DisplayNameFor(model => model.employee.FirstOrDefault().Data_Zwolnienia);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th style="width:min(9rem)">
                        Opcje
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Pracownik emp in Model.employee)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => emp.ID_Pracownika)
                        </td>
                        <td>
                            @Html.DisplayFor(model => emp.Imie)
                        </td>
                        <td>
                            @Html.DisplayFor(model => emp.Nazwisko)
                        </td>
                        <td>
                            @Html.DisplayFor(model => emp.ID_Magazynu)
                        </td>
                        <td>
                            @Html.DisplayFor(model => emp.Numer_telefonu)
                        </td>

                            @if (emp.Data_Zwolnienia == DateTime.MinValue)
                            {
                                displayValue = "Brak";
                                <td>
                                    @displayValue
                                </td>
                            }    
                            else{
                                <td>
                                @emp.Data_Zwolnienia.ToString("dd/MM/yyyy");
                                </td>
                                
                            }
                        <td>
                            <div id="options">
                                <a class="btn btn-primary" asp-page="/AdminPanel/Employee/View" asp-route-id="@emp.ID_Pracownika">
                                    <i class="far fa-eye"></i>
                                </a>
                                <a class="btn btn-warning" asp-page="/AdminPanel/Employee/Edit" asp-route-id="@emp.ID_Pracownika">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a class="btn btn-danger" asp-page="/AdminPanel/Employee/Delete" asp-route-id="@emp.ID_Pracownika">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <script>
        document.addEventListener('DOMContentLoaded', e => {
            GenerateDataTables($("#accounts-table"));
        });
    </script>
}