@page
@using BasiaProjektRazorPages.Helpers;
@using BasiaProjektRazorPages.ViewModels;
@model BasiaProjektRazorPages.Pages.Product.ListModel
@{
}
    <br />
    <div class="cont admin-accounts-container text-center" style="background-color:white;color:black;">
        <a class="btn btn-primary" style="margin:0.4rem 0" asp-page="Add">Dodaj Produkt</a>
    <table id="accounts-table">
        <thead>
            <tr>
                <th>
                    @{
                        string displayName = null;
                        displayName = @Html.DisplayNameFor(model => model.products.FirstOrDefault().Nazwa);
                    }
                    <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                </th>
                <th>
                    @{
                        //displayName = @Html.DisplayNameFor(model => model.products.FirstOrDefault().Kategoria.Nazwa);
                        displayName = "Kategoria";
                    }
                    <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                </th>
                <th>
                    @{
                        displayName = @Html.DisplayNameFor(model => model.products.FirstOrDefault().Cena_jednostkowa);
                    }
                    <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                </th>
                <th>
                    Opcje
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductViewModel product in Model.products)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => product.Nazwa)
                        </td>
                        <td>
                            @Html.DisplayFor(model => product.Kategoria.Nazwa)
                        </td>
                        <td>
                            @Html.DisplayFor(model => product.Cena_jednostkowa)
                        </td>
                        <td>
                            <div id="options">
                                <a class="btn btn-primary" asp-page="View" asp-route-id="@product.ID_Produktu">
                                    <i class="far fa-eye"></i>
                                </a>
                                <button class="btn btn-primary" product-id="@product.ID_Produktu">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', e => {
            console.log("halo kurwa, widzisz mnie?");
            GenerateDataTables($("#accounts-table"));


            $(document).on('click', '[product-id]', e => {

            })
            
        });
    </script>