@page
@using SklepProjektRazorPages.DbModels
@using SklepProjektRazorPages.ViewModels
@model SklepProjektRazorPages.Pages.Order.SummaryModel
@{
}
    <div class="container accounts-container bg-white">
        <div  class="admin-button-container">
            <a class="button-animation" style="padding: 1rem 1em;" asp-page="/Product/List">Powrót na listę</a>
        </div>
        
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" value="@Model.orderView.ID_Zamowienia" asp-for="orderDb.ID_Zamowienia" />
@*            <input type="hidden" asp-for="orderView" />*@
            <table id="cart-products" style="margin-top:0.5rem;">
                <tr>
                    <th>Nazwa produktu</th>
                    <th>Ilość</th>
                </tr>
                @foreach(CartRecord cr in @Model.orderView.cart)
                {
                    <tr class="product" id="@cr.product.ID_Produktu">
                        <td>@Html.DisplayFor(model => cr.product.Nazwa)</td>
                        <td>@cr.amount</td>
                    </tr>
                }
            </table>
            <div class="address-select-container">
                <h5 style="margin:0 !important">Adres:</h5>
                <select asp-for="orderDb.ID_Adresu" asp-items="Model.addresses"></select>
            </div>

            @if (!string.IsNullOrWhiteSpace(Model.alertMessage))
            {
                <div class="alert @Model.alertClass">
                    @Html.Raw(@Model.alertMessage.Replace("\n", "</br>"))
                </div>
            }
            <div class="admin-button-container">
                @*Po co ten button?*@
                @*<button type="submit" class="button-animation">Zmień Adres</button>*@
                <button type="submit" class="button-animation">Złóż zamówienie</button>
            </div>

        </form>
    </div>