@page
@using SklepProjektRazorPages.DbModels
@using SklepProjektRazorPages.ViewModels
@model SklepProjektRazorPages.Pages.Order.SummaryModel
@{
    ViewData["Title"] = "Koszyk";
    double suma = 0;
}
<form method="post" enctype="multipart/form-data">
    <div class="datatable-container">
        <div class="container products-container bg-white">
            <h2 id="cart-counter" style="text-align:center;border-bottom:1px solid grey;margin-bottom:2rem;padding: 0.5rem 0"></h2>
        
                <input type="hidden" value="@Model.orderView.ID_Zamowienia" asp-for="orderDb.ID_Zamowienia" />
                <table id="summary-cart-products" style="margin-top:0.5rem;">
                @{
                    @foreach(CartRecord cr in @Model.orderView.cart)
                    {
                        <tr class="product" id="@cr.product.ID_Produktu">
                            <td><img src="@cr.product.sciezkaZdjecia" /></td>
                            <td>@Html.DisplayFor(model => cr.product.Nazwa)</td>
                            <td>
                                <select cart-id="@cr.cartID" product-id="@cr.product.ID_Produktu" id="select-value" class="select-values" style="border-radius:10px;padding:.3rem">
                                    @{
                                        for (int i = 1; i <= 9; i++)
                                        {
                                            if(i == cr.amount)
                                            {   
                                                <option selected class="select-value" value="@cr.amount">@cr.amount</option>
                                                continue;
                                            }
                                            <option class="select-value" value="@i">@i</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>@(cr.amount * cr.product.Cena_jednostkowa + "zł")</td>
                        </tr>
                        suma += cr.amount * cr.product.Cena_jednostkowa.Value;
                    }
                    }
                </table>
        
        </div>
        <div style="width:min(30rem)!important;height:min(21rem)" class="container accounts-container bg-white">
            <div class="flex-summary-container">
                <p>Łączna kwota</p>
                <p>@suma zł</p>
            </div>
            <div class="address-select-container">
                <h5 style="margin:0 !important">Adres:</h5>
                <select asp-for="orderDb.ID_Adresu" asp-items="Model.addresses"></select>
            </div>

            @if (!string.IsNullOrWhiteSpace(Model.alertMessage))
            {
                <div class="alert @Model.alertClass">
                    @Html.Raw(@Model.alertMessage.Replace("\n", "</br>"))
                </div>
            }
            <div class="admin-button-container summary-container" style="flex-direction:column;position:sticky">
                @*Po co ten button?*@
                @*<button type="submit" class="button-animation">Zmień Adres</button>*@
                <button type="submit" class="button-animation">Złóż zamówienie</button>
                <a class="button-animation" onclick="history.back()">Powrót</a>
            </div>
        </div>
    </div>
</form>
<script>
    // Summary change option handler
    let $select_value = document.querySelectorAll(".select-values");
    for (let i = 0; $select_value.length; i++) {
        $select_value[i].addEventListener("change", (event) => {
            let $cartId = $(event.currentTarget).attr("cart-id");
            let $productId = $(event.currentTarget).attr("product-id");
            let $productsAmount = event.currentTarget.value;
            console.log(event.target);
            console.log($cartId);
            console.log($productId);
            console.log($productsAmount);
            $.ajax({
                url: '/Cart/api' + "?handler=UpdateCart",
                type: "POST",
                data: {
                    "cartId": $cartId,
                    "productId": $productId,
                    "productsAmount": $productsAmount
                },
                //Pokazuje i tak błąd w konsoli
                success: function (result) {
                    if (result.success) {
                        updateCart();
                    }
                    else {
                        alert('Error: +' + result.message);
                    }
                }
            }).done(function (data, status, xhr) {
                let $cartList = $("#cart-products");
                //console.log("pod tym");
                //console.log(`${data.products[i].amount} ${data.products[i].product.nazwa}`);

                //Tu zmienia wartość wybranego produktu
                data.products[i].amount = $productsAmount;
                console.log(data.products[i]);
            });
        })
    }
</script>