@page
@model BasiaProjektRazorPages.Pages.AdminPanel.Employee.EditModel
@using BasiaProjektRazorPages.DbModels
@{
}
@if (Model.emplyoeeNotFound)
{
    <div class="text-center">
        <h3>Nimo takiego Pracownika.</h3>
    </div>
}else if (!AccountHelper.loggedInVerified || !AccountHelper.loggedInAccount.JestAdminem)
{
    <div class="text-center">
        <h3>Nie mosz uprawnień do tej strony.</h3>
    </div>
}
else
{
    <div class="center text-center row accounts-container bg-white">
        <a class="btn btn-secondary" asp-page="List">Powrót do listy</a>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="employee.ID_Pracownika" />

            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.employee.Imie)</label>
                <input type="text"  asp-for="employee.Imie" />
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.employee.Nazwisko)</label>
                <input type="text" asp-for="employee.Nazwisko" />
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.employee.PESEL)</label>
                <input type="text" asp-for="employee.PESEL" />
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.employee.ID_Magazynu)</label>
                <select type="text" asp-items="Model.warehouses"  asp-for="employee.ID_Magazynu" ></select>
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.employee.Wyplata)</label>
                <input type="text"  asp-for="employee.Wyplata" />
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.employee.Numer_telefonu)</label>
                <input type="text"  asp-for="employee.Numer_telefonu" />
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.employee.Numer_konta)</label>
                <input type="text"  asp-for="employee.Numer_konta" />
            </div>
            <button class="btn btn-success">Zapisz Dane Pracownika</button>
            @if (!string.IsNullOrWhiteSpace(Model.alertValue))
            {
                <div class="alert @Model.alertClass" role="alert">
                    @Model.alertValue
                </div>
            }
        </form>
    </div>
}