@page
@using BasiaProjektRazorPages.DbModels;
@model BasiaProjektRazorPages.Pages.AdminPanel.Warehouse.ViewModel
@{
}
@if (!AccountHelper.loggedInVerified || !AccountHelper.loggedInAccount.JestAdminem)
{
    <div class="text-center">
        <h3>Nie mosz uprawnień do tej strony.</h3>
    </div>
}
else
{
    <div class="container admin-panel-settings bg-white text-ce" style="width:min(36rem)">
        <div>
            <h3 style="border-bottom:1px solid black;text-align:center;">Nazwa Magazynu: @Model.warehouse.Nazwa</h3>
            <div class="admin-button-container">
                <a class="button-animation" style="padding:0.5rem 1.5rem" asp-page="List">
                    Powróć do listy
                    <div class="btn_horizontal"></div>
                    <div class="btn_vertical"></div>
                </a>
            </div>
        </div>
    </div>
    <br />
    <div class="datatable-container">
        <div class="container admin-accounts-container text-center" style="width:min(80rem) !important;background-color:white;color:black;">
            <h3 style="border-bottom:1px solid black;text-align:center;">Pracownicy:</h3>
            <table id="accounts-table">
                <thead>
                    <tr>
                        <th>
                            @{
                                string displayName = null;
                                displayName = @Html.DisplayNameFor(model => model.warehouse.EmployeesList.FirstOrDefault().ID_Pracownika);
                            }
                            <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                        </th>
                        <th>
                            @{
                                displayName = @Html.DisplayNameFor(model => model.warehouse.EmployeesList.FirstOrDefault().Imie);
                            }
                            <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                        </th>
                        <th>
                            @{
                                displayName = @Html.DisplayNameFor(model => model.warehouse.EmployeesList.FirstOrDefault().Nazwisko);
                            }
                            <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Pracownik emp in Model.warehouse.EmployeesList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => emp.ID_Pracownika)
                            </td>
                            <td>
                                @Html.DisplayFor(model => emp.Imie)
                            </td>
                            <td>
                                @Html.DisplayFor(model => emp.Nazwisko)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="container admin-accounts-container text-center" style="width:min(80rem) !important;background-color:white;color:black;">
            <h3 style="border-bottom:1px solid black;text-align:center;">Produkty:</h3> 
            <table id="accounts-table2">
                <thead>
                    <tr>
                        <th>
                            @{
                                //string displayName = null;
                                displayName = @Html.DisplayNameFor(model => model.warehouse.ProductList.FirstOrDefault().ID_Produktu);
                            }
                            <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                        </th>
                        <th>
                            @{
                                displayName = @Html.DisplayNameFor(model => model.warehouse.ProductList.FirstOrDefault().Nazwa);
                            }
                            <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                        </th>
                        <th>
                            @{
                                displayName = @Html.DisplayNameFor(model => model.warehouse.ProductList.FirstOrDefault().Cena_jednostkowa);
                            }
                            <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Produkt product in Model.warehouse.ProductList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => product.ID_Produktu)
                            </td>
                            <td>
                                @Html.DisplayFor(model => product.Nazwa)
                            </td>
                            <td>
                                @Html.DisplayFor(model => product.Cena_jednostkowa)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', e => {
            GenerateDataTables($("#accounts-table"));
            GenerateDataTables($("#accounts-table2"));
        });
    </script>
}
