@page
@using SklepProjektRazorPages.DbModels
@model SklepProjektRazorPages.Pages.AdminPanel.Supplier.ListModel
@{
    ViewData["Title"] = $"Admin Panel - Lista Dostawców";
}
@if (!AccountHelper.loggedInVerified || !AccountHelper.loggedInAccount.JestAdminem)
{
        <div class="text-center">
            <h3>Nie mosz uprawnień do tej strony.</h3>
        </div>
}
else
{
<partial name="_AdminPanelNavigationPartial" />
        <br />
    <div class="container admin-accounts-container text-center" style="width:min(80rem) !important;background-color:white;color:black;">
        <a class="btn btn-primary" style="margin:0.4rem 0" asp-page="Add">Dodaj Dostawce</a>
        <table id="accounts-table">
            <thead>
                <tr>
                    <th>
                        @{
                            string displayName = null;
                            displayName = @Html.DisplayNameFor(model => model.Suppliers.FirstOrDefault().Nazwa);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th>
                        @{
                            displayName = @Html.DisplayNameFor(model => model.Suppliers.FirstOrDefault().Numer_telefonu);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th>
                        @{
                            displayName = @Html.DisplayNameFor(model => model.Suppliers.FirstOrDefault().Email);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th>
                        @{
                            displayName = @Html.DisplayNameFor(model => model.Suppliers.FirstOrDefault().NIP);
                        }
                        <input class="form-control" type="text" name="@displayName" placeholder="@displayName" />
                    </th>
                    <th style="width:min(9rem)">
                        Opcje
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Dostawca sup in Model.Suppliers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => sup.Nazwa)
                        </td>
                        <td>
                            @Html.DisplayFor(model => sup.Numer_telefonu)
                        </td>
                        <td>
                            @Html.DisplayFor(model => sup.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(model => sup.NIP)
                        </td>
                        <td>
                            <div id="options">
                                <a class="btn btn-primary" asp-page="/AdminPanel/Supplier/View" asp-route-id="@sup.ID_Dostawcy">
                                    <i class="far fa-eye"></i>
                                </a>
                                <a class="btn btn-warning" asp-page="/AdminPanel/Supplier/Edit" asp-route-id="@sup.ID_Dostawcy">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a class="btn btn-danger" asp-page="/AdminPanel/Supplier/Delete" asp-route-id="@sup.ID_Dostawcy">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <script>
        document.addEventListener('DOMContentLoaded', e => {
            GenerateDataTable($("#accounts-table"));
        });
    </script>
}