@page
@model SklepProjektRazorPages.Pages.AdminPanel.Product.AddModel
@{
    ViewData["Title"] = $"Admin Panel - Dodanie Produktu";
}
@if(!AccountHelper.loggedInVerified || !AccountHelper.loggedInAccount.JestAdminem){
    <div class="text-center">
        <h3>Nie mosz uprawnień do tej strony.</h3>
    </div>
}
else{
    <div class="container accounts-container bg-white">
        <a class="btn btn-secondary" asp-page="List">Powrót na listę</a>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="product.ID_Produktu" />

            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.product.Nazwa)</label>
                <input type="text" asp-for="product.Nazwa" />
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.product.Cena_jednostkowa)</label>
                <input type="text" asp-for="product.Cena_jednostkowa" />
            </div>
            <div class="mb-3">
                <label class="form-label">Kategoria</label>
                <select type="text" asp-for="product.ID_Kategorii" asp-items="Model.categories">
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Zdjęcie</label>
                <br>
                @*Nie zapisuje zdjecia przy dodaniu produktu*@
                <img style="max-width:50%" />
                <br><br>
                <input class="form-control" type="file" asp-for="productCoverPhoto" />
                <div class="form-text">Wgraj nowe</div>
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.accountAlertValue))
            {
                <div class="alert @Model.accountAlertClass">
                    @Html.Raw(@Model.accountAlertValue.Replace("\n", "</br>"))

                </div>
            }

            <button class="btn btn-success">Dodaj produkt</button>
        </form>
    </div>
}