@page
@model SklepProjektRazorPages.Pages.AdminPanel.Product.ViewModel
@using SklepProjektRazorPages.DbModels;
@using SklepProjektRazorPages.Helpers;
@{
    ViewData["Title"] = $"Admin Panel - {@Model.product.Nazwa}";
}
@if (Model.productNotFound)
{
    <div class="text-center">
        <h3>Nimo takiego produktu.</h3>
    </div>
}else if (!AccountHelper.loggedInVerified || !AccountHelper.loggedInAccount.JestAdminem)
{
    <div class="text-center">
        <h3>Nie mosz uprawnień do tej strony.</h3>
    </div>
}
else
{
    <div class="container text-center accounts-container bg-white">

        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="product.ID_Produktu" />

            <div>
                <label class="form-label">@Html.DisplayNameFor(model => model.product.Nazwa)</label>
                <input type="text" disabled asp-for="product.Nazwa" />
            </div>
            <div>
                <label class="form-label">@Html.DisplayNameFor(model => model.product.Cena_jednostkowa)</label>
                <input type="text" disabled asp-for="product.Cena_jednostkowa" />
            </div>
            <div>
                <label class="form-label">Kategoria</label>
                <select type="text" disabled asp-for="product.ID_Kategorii" asp-items="Model.categories">
                </select>
            </div>
            <div style="display:flex;flex-direction:column;gap:1rem">
                <label class="form-label">Zdjęcie</label>
                <img style="width:max(108px);height:max(72px);object-fit:contain;margin:auto" src="@Url.Content(Model.product.sciezkaZdjecia)" />
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.alertMessage))
            {
                <div class="alert @Model.alertClass">
                    @Html.Raw(@Model.alertMessage.Replace("\n", "</br>"))

                </div>
            }

            <a class="btn btn-secondary" asp-page="List">Powrót na listę</a>
        </form>
    </div>
}